# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# macOS
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log
